<div class="row">
    <div class="col-md-6" *ngFor="let item of this.apiService.exchanges">
        <nb-card size="large" class="d-flex flex-column" status="success">
            
            <nb-card-header><img src="{{item.image}}" />  {{item.name}}</nb-card-header>
            <nb-card-body>
                <pre>
                    {{item | json}}
                </pre>
                <p>{{item.description}}</p>
            </nb-card-body>
            <nb-card-footer>{{item.country}}</nb-card-footer>
          </nb-card>
    </div>
</div>